{% extends "layout.html" %}
{% block body %}
    {% if error %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
                <div class="list-group" contenteditable="true">
                    <div class="list-group-item col-xs-11">ERROR:{{ error }}</div>
                </div>
        </div>
    {% endif %}
    {% if form.errors %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
                <div class="list-group" contenteditable="true">
                {% for field_name,field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <div class="list-group-item col-xs-11">{{ form[field_name].label }}:{{ error }}</div>
                    {% endfor %}
                {% endfor %}
                </div>
        </div>
    {% endif %}
    <form class="form-horizontal panel-body" method="post" role="form">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title text-center">欢迎登录</h3>
            </div>
            <div class="row  panel-body">
                <div class="form-group">
                    {{ form.hidden_tag() }}
                    {{ form.username.label(class="col-sm-3 control-label") }}
                    <div class="col-xs-4">
                        {{ form.username(class="form-control",placeholder="请输入账户名！") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.password.label(class="col-sm-3 control-label") }}
                    <div class="col-xs-4">
                        {{ form.password(class="form-control",placeholder="请输入密码！") }}
                    </div>
                </div>
                <div class="form-group ">
                    {{ form.remember_me.label(class="col-sm-2 col-lg-offset-1 control-label") }}
                    <div class="col-xs-4">
                        {{ form.remember_me(class="form-control") }}
                    </div>
                </div>
                    <div class="text-center col-lg-offset-1">
                        <button type="submit" class="btn btn-primary btn-lg col-xs-7">Sign In</button>
                    </div>
                </div>
        </div>
    </form>
{% endblock %}